@charset "UTF-8";

form {
	box-sizing: border-box;
	width: 100%;
	max-width: 900px;
	margin: auto;
}
input, textarea, select {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 12pt;
	background-color: rgba(255, 255, 255, 0.8);
	max-width: 100%;
}
input:hover, textarea:hover {
	background-color: #dddddd;
}
legend {
	color: #888888;
	font-weight: bold;
	font-size: 13pt;
	font-family: sans-serif;
}
fieldset {
	border: 1px solid #cecece;
	margin: 20px;
}
fieldset#sexo {
	width: 100px;
	margin: 0px 50px 10px 105px;
}
fieldset#usuario {
	background: url('../_imagens/icone-contato.png') no-repeat 95% 95%;
}
fieldset#endereco {
	background: url('../_imagens/icone-endereco.png') no-repeat 95% 95%;
}
fieldset#mensagem {
	background: url('../_imagens/icone-mensagem.png') no-repeat 95% 95%;
}
fieldset#pedido {
	background: url('../_imagens/icone-pagamento.png') no-repeat 95% 95%;
}
button[type="submit"] {
	display: block;
	margin: 0 0 20px 20px;
	padding: 10px 20px;
	font-family: sans-serif;
	font-size: 13pt;
	font-weight: bold;
	color: #ffffff;
	background-color: #606060;
	border: 1px solid #cccccc;
	cursor: pointer;
}
button[type="submit"]:hover,
button[type="submit"]:focus-visible {
	background-color: #808080;
}
input#ctot {
	font-variant-numeric: tabular-nums;
}
@media only screen and (max-width: 820px) {
	form {
		padding: 0 10px;
	}
	fieldset {
		margin: 15px 0;
	}
	fieldset#sexo {
		margin: 0 0 10px 20px;
	}
	button[type="submit"] {
		margin-left: 10px;
	}
}
@media only screen and (max-width: 520px) {
	input[type="text"],
	input[type="email"],
	input[type="number"],
	input[type="password"],
	input[type="date"],
	select,
	textarea {
		box-sizing: border-box;
		display: block;
		width: 100%;
	}
	fieldset#usuario,
	fieldset#endereco,
	fieldset#mensagem,
	fieldset#pedido {
		background-image: none;
	}
}